<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--核心配置文件-->

<mapper namespace="com.kuls.dao.BlogMapper">

    <insert id="addBlog" parameterType="map">
        insert into mybatis.blog
        (
        id,
        <if test="title != null">title,</if>
        <if test="author != null">author,</if>
        <if test="create_time != null">create_time,</if>
        <if test="views != null">views</if>
        )
        values
        (#{id},#{title},#{author},#{create_time},#{views})
    </insert>


<!--使用sql可以抽取重复片段-->
    <sql id="if-title-author">
        <if test="title != null">
            and title = #{title}
        </if>
        <if test="author != null">
            and author = #{author}
        </if>
    </sql>

    <select id="queryBlogIF" parameterType="map" resultType="Blog">
        select * from blog where 1=1
        <if test="title != null">
            and title = #{title}
        </if>
        <if test="author != null">
            and author = #{author}
        </if>

    </select>


    <select id="queryBlogWhere" parameterType="map" resultType="blog">
        select * from blog
        <where>
            <if test="title != null">
                title = #{title}
            </if>
            <if test="author != null">
                and author = #{author}
            </if>
        </where>
    </select>

    <select id="queryBlogChoose" parameterType="map" resultType="blog">
        select * from blog
        <where>
        <choose>

            <when test="title != null">
                title = #{title}
            </when>

            <when test="author != null">
                and author = #{author}
            </when>

            <otherwise>
                and views = #{views}
            </otherwise>
        </choose>
        </where>
    </select>


    <update id="updateBlog" parameterType="map">
        update blog
        <set>
            <if test="title != null">
                title = #{title}
            </if>
            <if test="author != null">
                and author = #{author}
            </if>
        </set>
        where id = #{id}
    </update>


<!--
    select * from mybatis.bolg where 1=1 and (id=1 or id=2 or id=3)

    我们现在传递一个万能的map，这个map中可以存在一个map
-->
    <select id="queryBlogForeach" parameterType="map" resultType="blog">
        select * from mybatis.blog
        <where>
            <foreach collection="ids" item="id" open="(" close=")" separator="or">
                id = #{id}
            </foreach>
        </where>
    </select>
</mapper>